# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
.venv/
env/
.env
credentials.env
config/credentials.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Local data files
*.db
*.sqlite
data/
usda_data/
logs/

# Jupyter
.ipynb_checkpoints/
*.db
data/
OBS_recordings/export_inspections_1.mkv
OBS_recordings/Adobe Premiere Pro Auto-Save/Inspections - 0-30 min--896d0e15-c81e-2440-4be9-f1b733b904d0-2025-12-28_00-27-39.prproj
OBS_recordings/Adobe Premiere Pro Auto-Save/Inspections - 0-30 min--896d0e15-c81e-2440-4be9-f1b733b904d0-2025-12-28_00-41-25.prproj
OBS_recordings/Adobe Premiere Pro Auto-Save/Inspections - 60-90 min--6f3a8f9b-4ed0-4b75-ed77-6d77dcf516b3-2025-12-28_00-33-39.prproj
OBS_recordings/Adobe Premiere Pro Auto-Save/Inspections - 30-60 min--90255236-85ce-77b0-3d09-0331ca701b43-2025-12-28_00-42-25.prproj
OBS_recordings/Adobe Premiere Pro Auto-Save/Inspections - 60-90 min--6f3a8f9b-4ed0-4b75-ed77-6d77dcf516b3-2025-12-28_00-43-25.prproj
OBS_recordings/Adobe Premiere Pro Auto-Save/Inspections - very end--6d54c825-d570-09b0-b51c-9256d1585248-2025-12-28_00-44-25.prproj
OBS_recordings/Inspections - 0-30 min.prproj
OBS_recordings/Inspections - 30-60 min.prproj
OBS_recordings/Inspections - 60-90 min.prin
OBS_recordings/Inspections - 60-90 min.prproj
OBS_recordings/Inspections - very end.prproj
OBS_recordings/Original with Cuts - no deletions.prin
OBS_recordings/Original with Cuts - no deletions.prproj

# Database files
data/*.db
